.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
.header {
  padding: 24px 8px;
  background: hsl(228deg 39% 20%);
  color: white;
}

.step {
  flex: 1;
  padding: 32px;
}
.step h2 {
  margin-bottom: 1em;
}
.step label {
  color: hsl(228deg 30% 30%);
}
.step input:not([type='radio']) {
  display: block;
  border: 1px solid hsl(228deg 30% 80%);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
  padding: 4px 8px;
}

.step dl {
  border: 1px dashed hsl(228deg 30% 80%);
  padding: 16px;
}
.step dt {
  font-weight: bold;
  color: hsl(228deg 30% 30%);
}
.step dd {
  margin-bottom: 1em;
}

.actionsBackground {
  background: hsl(228deg 50% 92%);
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background: hsl(228deg 50% 92%);
}
.btn {
  padding: 8px 24px;
  border-radius: 6px;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.btn.primary {
  border: none;
  background: hsl(228deg 60% 25%);
  color: white;
}
.btn.secondary {
  border: 1px solid hsl(228deg 60% 25%);
  color: hsl(228deg 60% 25%);
}